/*General Stuff*/
.article-p {
    color: #333;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: helvetica,arial,sans-serif;
    margin-bottom: 15px;
}

.video {
    display: flex;
    justify-content: center;
    margin: 43px auto 0px;
}

/*This is css for header*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 40px;
    background: white;
    border-bottom: 1px solid #e2e2e2;
    z-index: 99;
}

.headwrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: flex;
    flex-direction: column;
  }

.search {
    font-size: 25px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -10px;
}

.line {
    width: 12px;
    height: 2px;
    background-color: black;
    margin: 0 0 2px 0;
}

.iconwrap {
    display: flex;
    align-items: center;
}

.buttonwrap>* {
    background: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-family: helvetica,arial,sans-serif;
    cursor: pointer;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 11px 8px 11px 8px;
}

/*This is css for content of page*/
.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 45px;
    height: 100%;
    margin-bottom: 70px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    margin: 5px auto;
}

.img1text {
    max-width: 65%;
    font-size: 12px;
    font-family: helvetica,arial,sans-serif;
    color: #666;
}

.img2text {
    max-width: 91%;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-family: helvetica,arial,sans-serif;
    color: #666;
    margin-bottom: 35px;
}

.embedded-title {
    margin: 35px 0 5px 0;
}

.embedded-title-summary {
    font-size: 14px;
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: georgia,times,serif;
    color: #333;
    margin: 0 0 0 0;
}

.embedded-post{
    color: black;
    text-align: left;
    position: relative;
}

.bold {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
}

.one{
    top: 24.8264%;
    left: 0.0436%;
    width: 180px;
    position: absolute;
}

.two{
    top: 24.8264%;
    left: 25.5619%;
    width: 190px;
    position: absolute;
}

.three{
    top: 24.8264%;
    left: 51.0800%;
    width: 190px;
    position: absolute;
}

.four{
    top: 24.8264%;
    left: 76.5982%;
    width: 190px;
    position: absolute;
}

.five{
    top: 73.4375%;
    left: 0.0436%;
    width: 190px;
    position: absolute;
}

.six{
    top: 73.4375%;
    left: 25.5619%;
    width: 190px;
    position: absolute;
}

.seven{
    top: 73.4375%;
    left: 51.0800%;
    width: 190px;
    position: absolute;
}

.eight{
    top: 73.4375%;
    left: 76.5982%;
    width: 190px;
    position: absolute;
}

.embedded-P {
    font-family: arial,helvetica,sans-serif;
    font-size: 10px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}

.embedded-footer {
    margin: 10px 0px 40px 110px;
}

.video-title {
    font-size: 16px;
    line-height: 1.25rem;
    font-style: normal;
    font-family: arial,helvetica,sans-serif;
    color: #333;
}

.video-copyright {
    font-size: 12px;
    line-height: 1.25rem;
    font-style: normal;
    font-family: arial,helvetica,sans-serif;
    color: rgb(136, 136, 136);
    margin-left: 8px;
}

.img2 {
    height: auto;
    max-height: 500px;
    margin: 5px auto;
}

.articleContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 45px;
    justify-items: center;
}

.editors-picks{
    margin: 1050px 0px 0px 0px;
    font-family: helvetica,arial,sans-serif;
    font-size: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
    height: 30px;
}

.editors-picks figcaption a {
    font-size: 13px;
    font-family: helvetica,arial,sans-serif;
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}

.editors-picks figure {
    display: flex;
    margin: 20px 0 20px 0;
}

.editors-picks figcaption {
    display: flex;
    align-items: center;
}

.account-request {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-family: helvetica,arial,sans-serif;
    font-size: 14px;
    font-weight: 1000;
}

.account-request>p {
    margin:0px;
    font-size: 15px;
    font-weight: 1000;
}

.account-request>a {
    text-decoration: none;
    font-family: inherit;
    margin-bottom: 20px;
}

.linecss1 {
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 18px auto 10px;
}

.linecss2 {
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 15px auto 18px;
}

.linecss3 {
    border-bottom: 1px solid black;
    width: 72px;
    margin: 25px auto 18px 0px;
    padding-top: 20px;
}

.ulflex {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.author {
    color: #333;
    padding-left: 5px;
    text-decoration-color: #333;
}

.date {
    font-size: 12px;
    margin-top: 8px;
    font-family: helvetica,arial,sans-serif;
    color: #333;
    font-weight: 500;
}

.articleIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.articleIcons>a {
    margin-right: 16px;
    width: 28px;
    height: 28px;
    background: rgb(231, 231, 231);
    border-radius: 50%;
}

.iconButtons {
    display: flex;
}

.iconButtons>* {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 8px;
    cursor: pointer;
}

.articleRightGap{
    padding-left: 50px;
}

.article-copyright-content {
    font-size: 12px;
    line-height: 1.25rem;
    font-style: normal;
    color: rgb(136, 136, 136);
    margin: 0;
}

.asdf{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#read-comments{
    background: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-family: helvetica,arial,sans-serif;
    cursor: pointer;
    font-weight: 700;
    padding: 15px 15px 15px 15px;
    width: 45%;
    font-size: 16px;
}


/*This is css for the footer*/
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 40px;
    background: white;
    border-top: 1px solid black;
}