/*General Stuff*/
.article-p {
    color: #333;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: helvetica, arial, sans-serif;
    margin-bottom: 15px;
}

.video {
    display: flex;
    justify-content: center;
    margin: 43px auto 0px;
}

/*This is css for header*/
.header {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 40px;
    background: white;
    border-bottom: 1px solid #e2e2e2;
    z-index: 99;
}

.headwrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: flex;
    flex-direction: column;
}

.search {
    font-size: 25px;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -10px;
}

.line {
    width: 12px;
    height: 2px;
    background-color: black;
    margin: 0 0 2px 0;
}

.iconwrap {
    display: flex;
    align-items: center;
}

.buttonwrap>* {
    background: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-family: helvetica, arial, sans-serif;
    cursor: pointer;
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    padding: 11px 8px 11px 8px;
}

/*This is css for content of page*/
.content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 45px;
    height: 100%;
    margin-bottom: 70px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article-article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 {
    max-width: 100%;
    height: auto;
    max-height: 600px;
    margin: 5px auto;
}

.img1text {
    max-width: 65%;
    font-size: 12px;
    font-family: helvetica, arial, sans-serif;
    color: #666;
}

.img2text {
    max-width: 91%;
    font-size: 0.9375rem;
    line-height: 1.25rem;
    font-family: helvetica, arial, sans-serif;
    color: #666;
    margin-bottom: 35px;
}

.embedded-title {
    margin: 35px 0 5px 0;
}

.embedded-title-summary {
    font-size: 14px;
    font-size: .875rem;
    line-height: 18px;
    line-height: 1.125rem;
    font-weight: 400;
    font-style: normal;
    font-family: georgia, times, serif;
    color: #333;
    margin: 0 0 0 0;
}

.embedded-post {
    color: black;
    text-align: left;
    position: relative;
}

.bold {
    font-size: 11px;
    font-weight: bold;
    letter-spacing: .05em;
}

.one {
    top: 24.8264%;
    left: 0.0436%;
    width: 180px;
    position: absolute;
}

.two {
    top: 24.8264%;
    left: 25.5619%;
    width: 190px;
    position: absolute;
}

.three {
    top: 24.8264%;
    left: 51.0800%;
    width: 190px;
    position: absolute;
}

.four {
    top: 24.8264%;
    left: 76.5982%;
    width: 190px;
    position: absolute;
}

.five {
    top: 73.4375%;
    left: 0.0436%;
    width: 190px;
    position: absolute;
}

.six {
    top: 73.4375%;
    left: 25.5619%;
    width: 190px;
    position: absolute;
}

.seven {
    top: 73.4375%;
    left: 51.0800%;
    width: 190px;
    position: absolute;
}

.eight {
    top: 73.4375%;
    left: 76.5982%;
    width: 190px;
    position: absolute;
}

.embedded-P {
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    line-height: 17px;
    font-weight: 300;
    color: #000000;
}

.embedded-footer {
    margin: 10px 0px 40px 110px;
}

.video-title {
    font-size: 16px;
    line-height: 1.25rem;
    font-style: normal;
    font-family: arial, helvetica, sans-serif;
    color: #333;
}

.video-copyright {
    font-size: 12px;
    line-height: 1.25rem;
    font-style: normal;
    font-family: arial, helvetica, sans-serif;
    color: rgb(136, 136, 136);
    margin-left: 8px;
}

.img2 {
    height: auto;
    max-height: 500px;
    margin: 5px auto;
}

.articleContent {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 45px;
    justify-items: center;
}

.editors-picks {
    margin: 250% 0px 0px 0px;
    font-family: helvetica, arial, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid rgb(182, 182, 182);
    height: 30px;
}

.editors-picks figcaption a {
    font-size: 13px;
    font-family: helvetica, arial, sans-serif;
    color: #333;
    text-decoration: none;
    margin-left: 10px;
}

.editors-picks figure {
    display: flex;
    margin: 20px 0 20px 0;
}

.editors-picks figcaption {
    display: flex;
    align-items: center;
}

.account-request {
    display: block;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
    font-weight: 1000;
}

.account-request>p {
    margin: 0px;
    font-size: 15px;
    font-weight: 1000;
}

.account-request>a {
    text-decoration: none;
    font-family: inherit;
    margin-bottom: 20px;
}

.linecss1 {
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 18px auto 10px;
}

.linecss2 {
    border-bottom: 1px solid rgb(204, 204, 204);
    width: 72px;
    margin: 15px auto 18px;
}

.linecss3 {
    border-bottom: 1px solid black;
    width: 72px;
    margin: 25px auto 18px 0px;
    padding-top: 20px;
}

.ulflex {
    display: flex;
    padding-left: 0;
    justify-content: space-between;
    align-items: center;
}

.author {
    color: #333;
    padding-left: 5px;
    text-decoration-color: #333;
}

.date {
    font-size: 12px;
    margin-top: 8px;
    font-family: helvetica, arial, sans-serif;
    color: #333;
    font-weight: 500;
}

.articleIcons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.articleIcons>a {
    margin-right: 16px;
    width: 28px;
    height: 28px;
    background: rgb(231, 231, 231);
    border-radius: 50%;
}

.iconButtons {
    display: flex;
}

.iconButtons>* {
    background: none;
    border: none;
    padding: 0;
    margin-left: 5px;
    margin-right: 8px;
    cursor: pointer;
}

.articleRightGap {
    padding-left: 50px;
}

.article-copyright-content {
    font-size: 12px;
    line-height: 1.25rem;
    font-style: normal;
    color: rgb(136, 136, 136);
    margin: 0;
}

.asdf {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#read-comments {
    background: #567b95;
    border: 1px solid #326891;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    font-family: helvetica, arial, sans-serif;
    cursor: pointer;
    font-weight: 700;
    padding: 15px 15px 15px 15px;
    width: 45%;
    font-size: 16px;
}

.bottom-line {
    display: flex;
    justify-content: space-around;
    width: 63%;
    margin: 0 auto 1500px auto;
}

.fdsa {
    text-decoration: none;
    font-size: 15px;
}

.qwer {
    display: flex;
    flex-direction: column;
}

.footer-copyright {
    font-size: 10px;
    line-height: 1.25rem;
    font-style: normal;
    font-family: arial, helvetica, sans-serif;
    color: rgb(136, 136, 136);
}

.footer-figures {
    width: 272px;
    margin: 10px 20px 10px 0px;
}

.bottom-line-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 1px;
    background-color: black;
    margin: 0 0 2px 0;
}

.bottom-line-right {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 1px;
    background-color: black;
    margin: 0 0 2px 0;
}

.bottom-line-right-sub {
    border-top: 1px solid black;
}

.butt {
    text-decoration: none;
}

.footer-pics-row {
    display: flex;
}

.rewq {
    display: flex;
    align-self: flex-end;
    margin-bottom: 10px;
}

.bottom-line-left-two {
    width: 60%;
    height: 1px;
    background-color: black;
    margin: 0 0 2px 0;
}





/*This is css for the footer*/
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    height: 40px;
    background: white;
    border-top: 1px solid black;
    text-align: center;
}

.last-footer > ul::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
    margin-bottom: 90px;
  }
  
  .footer-item li {
    margin-bottom: 10px;
  }
  
  .last-footer > ul li {
    float: left;
    margin: 0 10px;
  }
  
  .last-footer > ul a {
    color: rgb(102, 102, 102);
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 12px;
  }
  
  .bottom-bar-center a:nth-child(1) {
    margin-top: 10px;
  }
  
  .footer-item a:hover {
    text-decoration: underline;
  }
  
  .last-footer > ul a:hover {
    text-decoration: underline;
  }
  
  .footer-main-title::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  
  .footer-container-items::after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
  
  .footer-container-items > :nth-child(6) {
    border-left: 1px solid rgb(185, 185, 185);
    padding-left: 10px;
  }
  
  .bottom-bar {
    height: 60px;
    width: 100%;
    position: fixed;
    background: white;
    z-index: 999;
    bottom: 0;
    border-top: 1px solid black;
  }
  
  .bottom-bar-right {
    position: absolute;
    top: 17px;
    right: 60px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .bottom-bar-right img {
    width: 15px;
    height: 15px;
    transform: rotate(-90deg);
    margin-left: 15px;
  }
  
  .bottom-bar-center {
    width: 600px;
    height: auto;
    margin: 17px auto;
  }
  
  .footer-title {
    float: left;
  }
  
  .footer-title + span {
    float: right;
  }
  
  .footer-title svg {
    width: 200px;
  }
  
  .footer-main-section {
    width: 1250px;
    margin: 0 auto;
  }
  
  .footer-main-title {
    border-top: 3px double rgb(197, 196, 196);
    padding-top: 10px;
  }
  
  .footer-container-items {
    border-bottom: 1px solid rgb(185, 185, 185);
    margin-bottom: 15px;
  }
  
  .footer-item {
    width: 15%;
    float: left;
    font-size: smaller;
  }
  
  .subscribe-links svg {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    margin-right: 6px;
  }
  
  .subscribe-links {
    font-size: 15px;
    font-weight: bold;
    font-family: "Libre Franklin", helvetica, arial, sans-serif;
  }
  
  #border-division {
    border-bottom: 1px solid rgb(185, 185, 185);
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-sizing: unset;
  }
  
  #space-to-fill {
    box-sizing: unset;
    margin-top: 20px;
  }
  
  .last-footer {
    width: 1150px;
    margin: 0 auto;
  }
  